include _mixins.jade

doctype html
html(lang="es")
	head
		+head("Velarent | Galería")
	body
	.all
		header.mainHeader
			+header([['Nosotros', 'nosotros',''], ['Servicios', 'servicios',''], ['Galería', 'galeria', 'active'], ['Contacto', 'contacto', '']])
			
		#mainbanner
			.slider
				.slide
					img(src="_/img/s4_bg.jpg", alt="", data-position="0,0", data-in="fade")
					img(src="_/img/s4_img.png", alt="", data-position="100,600", data-in="scrollRight")
					.text.white.small(data-position="148,84", data-in="scrollBottom ") EL SOL Y LA LLUVIA
					.text.yellow.medium(data-position="170,80", data-in="scrollBottom ") NO ESTÁN INVITADOS
					.text.white.small(data-position="220,460", data-in="scrollBottom ") A MI FIESTA
				.fs_loader
		
		section.main.doubleborder.mtover
			.pleca ELEGANCIA
			.textos
				p.title GALERÍA DE PROYECTOS
				p Hemos protegido del sol, de la lluvia, del viento por más de 45 años.
				
			.gallery
				.gal.doubleborder
				
					.galleria
						img(src="_/img/gallery/im01.jpg", alt="")
						img(src="_/img/gallery/im02.jpg", alt="")
						img(src="_/img/gallery/im03.jpg", alt="")
						img(src="_/img/gallery/im04.jpg", alt="")
						img(src="_/img/gallery/im05.jpg", alt="")
						img(src="_/img/gallery/im06.jpg", alt="")
						img(src="_/img/gallery/im07.jpg", alt="")
						img(src="_/img/gallery/im08.jpg", alt="")
						img(src="_/img/gallery/im09.jpg", alt="")
						img(src="_/img/gallery/im10.jpg", alt="")
						img(src="_/img/gallery/im11.jpg", alt="")
						img(src="_/img/gallery/im12.jpg", alt="")
						img(src="_/img/gallery/im13.jpg", alt="")
						img(src="_/img/gallery/im14.jpg", alt="")
						
						
			.mainimg
				img(src="_/img/main_galeria.jpg", alt="")
		
		
				
		section.bgtri.cover
			+midNav('lessheight mtbgtriDown')
		
		footer
			+footer([['Nosotros', 'nosotros',''], ['Servicios', 'servicios',''], ['Galería', 'galeria', ''], ['Contacto', 'contacto', '']])
		

		+scripts(['_/jquery.js', '_/jquery.fractionslider.min.js', '_/galleria.min.js', '_script.js'])
